.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.controlls {
    min-width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logout-btn {
    max-height: 40px;
}
